<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
    <style>
        .email-container {
            background-color: #2F2F2F;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }
        .email-header {
            color: #69EEFF;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .email-body {
            color: #69EEFF;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="email-container">
    <div class="email-header">
        [힛더북] 회원가입 인증번호입니다.
    </div>
    <div class="email-body">
        이메일 인증 코드 : <span th:text="${authCode}"></span>
    </div>
</div>
</body>
</html>